<div class="w-90% mx-auto p-4">

  <!-- Encabezado -->
  <div class="mb-6 border-b border-gray-200 pb-2">
    <h1 class="text-3xl font-bold text-black">Dashboard</h1>
    <p class="text-sm text-gray-500">Todo lo que ocurre en tu tostadora, en una sola mirada</p>
  </div>

  <!-- Componente de Stock -->
  <stock-lotes></stock-lotes>
  <div class="flex gap-10">
    <div class="flex-1">
      <last-orders></last-orders>
    </div>
    <div class="flex-1">
      <pending-roasts></pending-roasts>
    </div>
  </div>

</div>
