<!-- src/app/features/inventory/page/inventory.page.html -->
<div class="h-screen p-6 bg-[#F9F9F9] overflow-auto">
  <!-- Header -->
  <div class="flex justify-between items-center mb-5">
    <div>
      <h1 class="text-2xl font-bold text-[#1F1F1F]">Inventario</h1>
      <p class="text-gray-600">Gestiona muestras, lotes de café verde y café tostado</p>
    </div>
    <div class="flex gap-2.5">
      <button *ngIf="activeTab!=='tostado'"
        class="flex items-center bg-[#B8672E] text-white px-4 py-2 rounded shadow hover:bg-[#A67C52] transition"
        (click)="openAdd()">
        <lucide-icon [img]="Plus" class="w-5 h-5 mr-2" />
        Agregar Producto
      </button>
      <button *ngIf="activeTab!=='muestras' && activeTab!=='tostado'"
        class="flex items-center bg-[#B8672E] text-white px-4 py-2 rounded shadow hover:bg-[#A67C52] transition"
        (click)="openBlendLote()">
        <lucide-icon [img]="Plus" class="w-5 h-5 mr-2" />
        Fusionar Lotes
      </button>
      <button *ngIf="activeTab!=='muestras' && activeTab!=='verde'"
        class="flex items-center bg-[#B8672E] text-white px-4 py-2 rounded shadow hover:bg-[#A67C52] transition"
        (click)="openBlendTueste()">
        <lucide-icon [img]="Plus" class="w-5 h-5 mr-2" />
        Fusionar Lotes Tostados
      </button>
    </div>
  </div>

  <!-- Contenedor de pestañas -->
  <div class="border border-[#E5E5E5] rounded-lg bg-[#F9F9F9]">
    <!-- Tabs -->
    <ul class="flex bg-[#F3F2F1] rounded-t-lg overflow-hidden">
      <li *ngFor="let tab of tabs" class="flex-1">
        <button (click)="onTabSelect(tab.key)" class="w-full text-center px-4 py-2 transition-colors duration-200"
          [class.bg-white]="activeTab===tab.key" [class.text-[#1F1F1F]]="activeTab===tab.key"
          [class.font-semibold]="activeTab===tab.key" [class.text-gray-500]="activeTab!==tab.key"
          [class.hover:text-[#1F1F1F]]="activeTab!==tab.key">
          {{ tab.label }}
        </button>
      </li>
    </ul>

    <!-- 1) MUESTRAS -->
    <section *ngIf="activeTab==='muestras'" class="p-6 bg-white rounded-b-lg shadow-sm">
      <h2 class="text-xl font-semibold text-[#1F1F1F] mb-4">Muestras de Café</h2>

      <!-- Tabla -->
      <div class=" m-1 rounded-lg shadow-sm  overflow-x-auto">
        <table class="min-w-full table-auto divide-y divide-[#E5E5E5]">
          <thead class="bg-[#F9F9F9]">
            <tr>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-600 uppercase">ID</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-600 uppercase">Productor</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-600 uppercase">Finca</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-600 uppercase">Región</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-600 uppercase">Peso (kg)</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-600 uppercase">Variedades</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-600 uppercase">Proceso</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-600 uppercase">Fecha</th>
              <th class="px-6 py-3 text-right text-xs font-medium text-gray-600 uppercase">Acciones</th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-[#E5E5E5]">
            <tr *ngFor="let m of muestras$ | async">
              <td class="px-6 py-4 font-semibold text-sm text-[#1F1F1F]">{{ m.id_muestra }}</td>
              <td class="px-6 py-4 text-sm text-gray-700">{{ m.productor }}</td>
              <td class="px-6 py-4 text-sm text-gray-700">{{ m.finca }}</td>
              <td class="px-6 py-4 text-sm text-gray-700">{{ m.region }}</td>
              <td class="px-6 py-4 text-sm text-gray-700">{{ m.peso.toLocaleString('en-US') }}</td>
              <td class="px-6 py-4">
                <span *ngFor="let v of m.variedades"
                  class="inline-block bg-[#E5E5E5] text-gray-700 text-xs px-2 py-0.5 rounded-full mr-1">
                  {{ v }}
                </span>
              </td>
              <td class="px-6 py-4">
                <span class="inline-block text-xs px-2 py-0.5 rounded-full" [ngClass]="{
                    'bg-blue-100 text-blue-800': m.proceso==='Lavado',
                    'bg-green-100 text-green-800': m.proceso==='Natural',
                    'bg-yellow-100 text-yellow-800': m.proceso==='Honey'
                  }">
                  {{ m.proceso }}
                </span>
              </td>
              <td class="px-6 py-4 text-sm text-gray-700">{{ m.fecha_registro | date:'dd/MM/yyyy' }}</td>
              <td class="px-6 py-4 text-right text-sm space-x-2">
                <button (click)="onReportMuestra(m)" class="text-gray-500 hover:text-gray-700">
                  <lucide-icon [img]="Eye" class="w-5 h-5" />
                </button>
                <!-- <button (click)="onEdit(m)"   class="text-gray-500 hover:text-gray-700">
                  <lucide-icon [img]="Edit2" class="w-5 h-5" />
                </button>
                <button (click)="onDelete(m)" class="text-gray-500 hover:text-red-600">
                  <lucide-icon [img]="Trash2" class="w-5 h-5" />
                </button> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

    <!-- 2) LOTES CAFÉ VERDE -->
    <section *ngIf="activeTab==='verde'" class="p-6 bg-white rounded-b-lg shadow-sm">
      <h2 class="text-xl font-semibold text-[#1F1F1F] mb-4">Lotes Café Verde</h2>

      <div class="m-1 rounded-lg shadow-sm overflow-x-auto">
        <table class="min-w-full table-auto divide-y divide-[#E5E5E5]">
          <thead class="bg-[#F9F9F9]">
            <tr>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-600 uppercase">ID</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-600 uppercase">Cliente</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-600 uppercase">Productor</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-600 uppercase">Región</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-600 uppercase">Peso (Gr)</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-600 uppercase">Variedades</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-600 uppercase">Proceso</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-600 uppercase">Fecha</th>
              <th class="px-6 py-3 text-right text-xs font-medium text-gray-600 uppercase">Acciones</th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-[#E5E5E5]" *ngIf="(lotes$ | async) as lotes">

            <!-- ADMIN -->
            <tr class="bg-[#F3F3F3]">
              <td colspan="9" class="text-left text-xs uppercase text-gray-500 py-2 px-6">Lotes de Fortunato</td>
            </tr>
            <ng-container *ngFor="let l of getLotesAdmin(lotes)">
              <tr>
                <td class="px-6 py-4 font-semibold text-sm text-[#1F1F1F]">{{ l.id_lote }}</td>
                <td class="px-6 py-4 text-sm text-gray-700">{{ l.id_user! | userName }}</td>
                <td class="px-6 py-4 text-sm text-gray-700">{{ l.productor }}</td>
                <td class="px-6 py-4 text-sm text-gray-700">{{ l.region }}</td>
                <td class="px-6 py-4 text-sm text-gray-700">{{ l.peso.toLocaleString('en-US') }}</td>
                <td class="px-6 py-4">
                  <span class="inline-block bg-[#E5E5E5] text-gray-700 text-xs px-2 py-0.5 rounded-full">
                    {{ l.variedades }}
                  </span>
                </td>
                <td class="px-6 py-4">
                  <span class="inline-block text-xs px-2 py-0.5 rounded-full" [ngClass]="{
                      'bg-green-100 text-green-800': l.proceso==='Natural',
                      'bg-blue-100 text-blue-800': l.proceso==='Lavado',
                      'bg-yellow-100 text-yellow-800': l.proceso==='Honey'
                    }">
                    {{ l.proceso }}
                  </span>
                </td>
                <td class="px-6 py-4 text-sm text-gray-700">{{ l.fecha_registro | date:'dd/MM/yyyy' }}</td>
                <td class="px-6 py-4 text-right text-sm space-x-2">
                  <button (click)="onReportLote(l)" class="text-gray-500 hover:text-gray-700">
                    <lucide-icon [img]="Eye" class="w-5 h-5" />
                  </button>
                </td>
              </tr>
            </ng-container>

            <!-- CLIENTE -->
            <tr class="bg-[#F3F3F3]">
              <td colspan="9" class="text-left text-xs uppercase text-gray-500 py-2 px-6">Lotes de Cliente</td>
            </tr>
            <ng-container *ngFor="let l of getLotesCliente(lotes)">
              <tr>
                <td class="px-6 py-4 font-semibold text-sm text-[#1F1F1F]">{{ l.id_lote }}</td>
                <td class="px-6 py-4 text-sm text-gray-700">{{ l.id_user! | userName }}</td>
                <td class="px-6 py-4 text-sm text-gray-700">{{ l.productor }}</td>
                <td class="px-6 py-4 text-sm text-gray-700">{{ l.region }}</td>
                <td class="px-6 py-4 text-sm text-gray-700">{{ l.peso.toLocaleString('en-US') }}</td>
                <td class="px-6 py-4">
                  <span class="inline-block bg-[#E5E5E5] text-gray-700 text-xs px-2 py-0.5 rounded-full">
                    {{ l.variedades }}
                  </span>
                </td>
                <td class="px-6 py-4">
                  <span class="inline-block text-xs px-2 py-0.5 rounded-full" [ngClass]="{
                      'bg-green-100 text-green-800': l.proceso==='Natural',
                      'bg-blue-100 text-blue-800': l.proceso==='Lavado',
                      'bg-yellow-100 text-yellow-800': l.proceso==='Honey'
                    }">
                    {{ l.proceso }}
                  </span>
                </td>
                <td class="px-6 py-4 text-sm text-gray-700">{{ l.fecha_registro | date:'dd/MM/yyyy' }}</td>
                <td class="px-6 py-4 text-right text-sm space-x-2">
                  <button (click)="onReportLote(l)" class="text-gray-500 hover:text-gray-700">
                    <lucide-icon [img]="Eye" class="w-5 h-5" />
                  </button>
                </td>
              </tr>
            </ng-container>

          </tbody>
        </table>
      </div>
    </section>




    <!-- 3) CAFÉ TOSTADO -->
    <section *ngIf="activeTab==='tostado'" class="p-6 bg-white rounded-b-lg shadow-sm">
      <h2 class="text-xl font-semibold text-[#1F1F1F] mb-4">Café Tostado</h2>

      <!-- Rango de fechas -->
      <div class="mb-4 flex space-x-2 max-w-md">
        <input type="date" [(ngModel)]="startDate" (ngModelChange)="onDateChange()"
          class="w-1/2 border border-[#E5E5E5] rounded-lg px-4 py-2 focus:outline-none focus:ring-1 focus:ring-[#B8672E]" />
        <input type="date" [(ngModel)]="endDate" (ngModelChange)="onDateChange()"
          class="w-1/2 border border-[#E5E5E5] rounded-lg px-4 py-2 focus:outline-none focus:ring-1 focus:ring-[#B8672E]" />
      </div>

      <!-- Tabla filtrada -->
      <div class="m-1 rounded-lg shadow-sm overflow-x-auto">
        <table class="min-w-full table-auto divide-y divide-[#E5E5E5]">
          <thead class="bg-[#F9F9F9]">
            <tr>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-600 uppercase">ID Tostado</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-600 uppercase">ID Lote</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-600 uppercase">Perfil</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-600 uppercase">Fecha</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-600 uppercase">Peso (Gr)</th>
              <th class="px-6 py-3 text-right text-xs font-medium text-gray-600 uppercase">Acciones</th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-[#E5E5E5]">
            <tr *ngFor="let t of filteredTostados">
              <td class="px-6 py-4 font-semibold text-sm text-[#1F1F1F]">{{ t.id_lote_tostado }}</td>
              <td class="px-6 py-4 text-sm text-gray-700">{{ t.id_lote }}</td>
              <td class="px-6 py-4 text-sm text-gray-700">{{ t.perfil_tostado }}</td>
              <td class="px-6 py-4 text-sm text-gray-700">
                {{ t.fecha_tostado | date:'dd/MM/yyyy' }}
              </td>
              <td class="px-6 py-4 text-sm text-gray-700">{{ t.peso.toLocaleString('en-US') }}</td>
              <td class="px-6 py-4 text-right text-sm">
                <div class="flex justify-end space-x-2">
                  <button (click)="onReportTueste(t)" class="text-gray-500 hover:text-gray-700">
                    <lucide-icon [img]="Clipboard" class="w-5 h-5" />
                  </button>
                  <button (click)="onFichaTueste(t)" class="text-gray-500 hover:text-gray-700">
                    <lucide-icon [img]="Eye" class="w-5 h-5" />
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

  </div>
</div>

<!-- Modales -->
<add-muestra *ngIf="showAddMuestra" (close)="showAddMuestra = false" (create)="onMuestraCreated()"></add-muestra>

<add-lote *ngIf="showAddLote" (close)="showAddLote = false" (create)="onLoteCreated()"></add-lote>

<blend-lote *ngIf="showBlendLote" (close)="showBlendLote = false" (create)="onCreateBlend()"></blend-lote>
<blend-tueste *ngIf="showBlendTueste" (close)="showBlendTueste = false" (create)="onCreateBlendTueste()"></blend-tueste>

<report-lote [loteId]="selectedLoteId" [MuestraId]="selectedMuestraId" *ngIf="showReportLote"
  (close)="showReportLote=false"></report-lote>

<ficha-tueste *ngIf="showFichaTueste" [id]="selectedTuesteId" (close)="showFichaTueste=false">
</ficha-tueste>

